//@import "bourbon";
@import "vars";
@media only screen and (max-width : 1900px) {}
@media only screen and (max-width : 1800px) {}
@media only screen and (max-width : 1700px) {}
@media only screen and (max-width : 1600px) {}
@media only screen and (max-width : 1500px) {}
@media only screen and (max-width : 1400px) {}
@media only screen and (max-width : 1367px) {}
@media only screen and (max-width : 1300px) {}



@media only screen and (max-width : 1199px) {

}
@media only screen and (max-width : 1000px) {

}
@media only screen and (min-width: 768px) and (max-width: 1199px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 991px) {
  .navbar-brand img {
    max-width: 120px;
  }


  #navbar .navbar-nav {
    margin-top: 5px;
  }

  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .solutionsection__itemdescr, .offervideo_width {
    max-width: 100%;
  }

  .smedia-btn_offervideo {
    margin-bottom: 50px;
  }

  #trailer {
    padding-bottom: 50px;
  }

  #trailer::after {
    content: none;
  }

  .solutionsection {
    margin-top: 0;
  }

  .publishersection-header {
    margin-top: 150px;
  }

  .publishersection-descr {
    max-width: 100%;
  }

  .career-thumbs .career-next {
    right: 37%;
  }

  .career-paragraph {
    max-width: 100%;
  }

  .contactus-block .contactus-text {
    max-width: 100%;
    text-align: center;
  }

  .contactus-paragr, .contactus-link {
    width: 100%;
    text-align: center;
    display: table;
  }

  .formwrap {
    margin-top: 20px;
    padding: 59px 0 41px 59px;
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 767px) {
  #menu-top #navbar {
    clear: both;
    float: none;
    width: 100%;
  }

  #navbar a {
    text-align: center;
  }

  .navbar-header {
    border-bottom: 1px solid #4C2A70;
  }

  #menu-top .pull-right {
    float: none !important;
    clear: both !important;
  }

  .solutionsection {
    padding-left: 15px;
    padding-right: 15px;
  }

  .servinmedia-descr {
    padding-left: 15px;
    padding-right: 15px;
  }

  .brandssection .swiper-prev {
    left: 15px;
  }

  .brandssection .swiper-next {
    right: 15px;
  }

  .formwrap {
    margin-top: 20px;
    padding: 55px 0 20px 0px;
  }

  .subm_button {
    float: left;
    margin-left: 15px;
  }

  // .footer-events {
  //   text-align: center;
  // }

  .brandssection .swiper-slide-active::before {
    content: none;
  }

  .smedia-btn {
    margin-right: auto;
    margin-left: auto;
  }

}


@media only screen and (max-width : 560px) {
  .career-thumbs .career-next {
      right: 80px;
  }

  .subm_button {
    float: none;
    clear: both;
    margin: 0 auto;
  }
}

@media only screen and (max-width : 690px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .career-thumbs .career-next {
      right: 0;
  }

  .top-text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 4;
  }

  #trailer {
    height: auto;
  }

  #trailer::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
  }

  .top-header {
    z-index: 4;
  }

  .offervideo-overlayimg {
    width: 100%;
    top: 50px;
    margin: 0 auto;
    display: table;
    left: 0;
    right: 0;
  }

  .offervideo-overlay::before {
    min-height: 312px;
  }

  .career-thumbs .career-next,   .career-thumbs .career-prev {
    //right: 0;
    // bottom: -20px;
    top: 50px;
    display: table;
  }

  .career-thumbs::before {
    content: none;
  }

  .career-thumbs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

@media only screen and (max-width : 380px) {

}

@media only screen and (max-width : 360px) {
  .offervideo-overlay::before {
      min-height: 270px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    /**/
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /**/
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /**/
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /**/
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /**/
}
