@import "vars";
//@import "libs";
@import "helpers";
//@import "fancybox";



body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.solutionsection {
  margin-top: 60px;
}

.sectionhdr {
  width: 100%;
  display: table;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  margin-bottom: 53px;
  &:before {
    position: absolute;
  //  width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    bottom: -4px;
    content: "";
    background: transparent url(../img/headerline.png) no-repeat scroll center center;
    //background: red;
  }

  &_unlined {
    margin-bottom: 38px;
    padding-bottom: 0;
    &:before {
      content: none;
    }
  }
}

.solutionsection-image {
  display: table;
  // float: left;
  position: absolute;
  left: 0;
  top: 0;
  // margin-right: 31px;
}

.solutions-container {
  display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;

 -webkit-flex-wrap: wrap;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
}

.solutionsection__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 71px;
}

.solutionsection__itemheader {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #000;
  margin-top: 0;
}

.solutionsection__itemdescr {
  width: 100%;
  max-width: 370px;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
  display: table;
  &_regular {
    font-weight: 400;
  }

  &_bold {
    font-weight: 700;
  }
}

.offervideo {
  padding-bottom: 60px;
}

.offervideo-header {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.offertext {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
}

.offervideo-overlay {
  width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
  &:before {
    display: table;
    width: 250%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: linear-gradient(61deg, #6441a5, #452260);
  }
}

.offervideo-overlayimg {
  position: relative;
  z-index: 3;
  bottom: -108px;
  left: -99px;
}

.offervideo_width {
  max-width: 450px;
}

.offerlist {
  padding: 0;
  margin: 20px 0 0 0;
  li {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    list-style: none;
    padding-left: 10px;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      line-height: 20px;
      content: "-";
    }
  }
}

.smedia-btn {
  //background: #4c2a70;
  background: #4c2a70 url(../img/button-arr.svg ) no-repeat scroll;
  background-position: calc(100% - 38px) center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  display: table;
  text-decoration: none;
  padding:  13px 64px 13px 31px;
  &:hover, &:active, &:visited, &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.smedia-btn_offervideo {
  margin-top: 49px;
}

.brandssection {
  margin-bottom: 100px;
  margin-top: 40px;
}

.careers {
  margin-top: 71px;
}

.servinmedia-descr {
  width: 100%;
  max-width: 770px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
  margin: 0 auto;
}

.brandssection .swiper-container {
  margin-top: 64px !important;

  width: 100%;
  height: 100%;
  padding-top: 34px !important;
  padding-bottom: 50px !important;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // -webkit-flex-wrap: wrap !important;
  // -ms-flex-wrap: wrap !important;
  // flex-wrap: wrap !important;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    flex-direction: column;
 }

.brandssection .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  flex-direction: column;
  // display: flex;
  // -webkit-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
  background-color: #f2f2f2;
  padding: 42px 49px;
  box-sizing: border-box;
}

.brandssection .swiper-prev, .brandssection .swiper-next {
  position: absolute;
  width: 87px;
  height: 30px;
  //background: red;
  z-index: 3;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: normal;
  color: #000;

}

.brandssection .swiper-prev {
  left: 0;
  bottom: 0;
  background: transparent url(../img/ic-slider-left.svg ) no-repeat scroll left center;
  text-align: right;
}

.brandssection .swiper-next {
  right: 0;
  bottom: 0;
  background: transparent url(../img/ic-slider-right.svg ) no-repeat scroll right center;
  text-align: left;
}

.brandssection .swiper-slide-active {

  &:before {
    position: absolute;
    width: 100%;
    height: 34px;
    background: #f2f2f2;
    content: "";
    left: 0;
    top: -34px;
  }
}

.brandssection .slide-header {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  width: 100%;
  margin: 0 0 30px 0;
}

.brandssection .slide-descr {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
}

.publishersection__figure {
  display: table;
  position: relative;
  width: 100%;
  max-width: 370px;
  height: 370px;
  object-fit: contain;
  border: solid 5px #4c2a70;
}

.publishersection-image {
  position: absolute;
  right: -100px;
  bottom: -78px;
}

.publishersection-header {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin-top: 0;
  margin-bottom: 28px;
}

.publishersection-descr {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
  width: 100%;
  max-width: 470px;
  margin-bottom: 37px;
}

.publishersection-list {
  padding: 14px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
  margin-bottom: 28px;
}

.sectionhdr-subheader {
  width: 100%;
  text-align: center;
  margin: 0 0 26px 0;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.careerssection {
  margin-bottom: 20px;
}

.careers-description {
  font-size: 16px;
}

.career-thumbs {
  margin-top: 50px !important;
  padding: 87px 0 0 80px !important;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    height: 270px;
    background: transparent url(../img/decorate-2.svg ) no-repeat scroll 0 0;
  }
}

.career-thumbs .swiper-slide {
  // width: 100%;
  // max-width: 370px;
  // display: block;
  // overflow: hidden;
}

.career-thumbs .career-prev, .career-thumbs .career-next {
  position: absolute;
  width: 70px;
  object-fit: contain;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c2a70;
  z-index: 333;
  cursor: pointer;
}

.career-thumbs .career-next {
  right: 104px;
  top: 45px;
  background: transparent url(../img/ic-slider-right-violet.svg ) no-repeat scroll right center;
  text-align: left;
}

.career-thumbs .career-prev {
  left: 0;
  bottom: 0;
  background: transparent url(../img/ic-slider-left-violet.svg ) no-repeat scroll left center;
  text-align: right;
}

.career-paragraph {
  margin: 0;
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;

}

.career-bold {
  font-weight: 700;
}

.career-bottommarg {
  margin-bottom: 37px;
}

.careers-subheader {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin: 40px 0 28px 0;
}

.careers-btn {
  margin-top: 30px;
}

.marketplace-section {
  margin-top: 102px;
}

.bordered {
  width: 100%;
  min-height: 270px;
  background-color: #fff;
  border: solid 1px #dbdbdb;
  box-sizing: border-box;
  padding: 50px;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  }
}


.bordered-header {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  margin-top: 0;
  margin-bottom: 21px;
}

.bordered-description {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
}

.marketplace-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.marketplace-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contactsection {
  margin-top: 56px;
}

.formwrap {
  position: relative;
  z-index: 3;
  padding: 59px 0 41px 101px;
  box-sizing: border-box;
  &:before {
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    object-fit: contain;
    background-image: linear-gradient(59deg, #6441a5, #452260);
    box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.5);
  }
}

.contact-form {

}

.contact-form input[type="text"], .contact-form input[type="email"]  {
  width: 100%;
  display: table;
  background: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: solid 1px rgba(255, 255, 255, .5);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.contact-form .form-group {
  margin-bottom: 29px;
  display: table;
  width: 100%;
  position: relative;
  padding-bottom: 15px;
}

.contact-form .form-group .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -25px;
    text-decoration: underline;
}


.contact-form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}
.contact-form input::-moz-placeholder { /* Firefox 19+ */
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}
.contact-form input:-ms-input-placeholder { /* IE 10+ */
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}
.contact-form input:-moz-placeholder  { /* Firefox 18- */
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}

.contact-form textarea:-moz-placeholder {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}
.contact-form textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}
.contact-form textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.contact-form textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  opacity: 1;
}


//----------------------------------------------------------------------------------





@import "media";
